<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>myfile</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>

<%- include('./partial/form.ejs'); %>

    <footer><h1>copyright@</h1></footer>
</html>
