<form method="POST" action="/submit" >
  <input type="text" name="data">
    <input type="email" name="dataemail">
  <input type="submit" value="send data">
  <img src="/static/salad.jpg" alt="">

<!--  //data show
  //if statement
  //js in html it mean u can use js in ejs-->
</form>
